.vs/underdomeriot_ammopackdiscount/FileContentIndex/07849ed7-ec68-419c-a1f6-923a48bb5391.vsidx
.vs/underdomeriot_ammopackdiscount/FileContentIndex/08d44d24-bc83-4968-81da-2888b44c6261.vsidx
.vs/underdomeriot_ammopackdiscount/FileContentIndex/3c6ee93b-2422-4a4a-b951-bb6f46f2f1cc.vsidx
.vs/underdomeriot_ammopackdiscount/FileContentIndex/443c2bb5-86db-4a3b-8665-4aae95b1afa4.vsidx
.vs/underdomeriot_ammopackdiscount/FileContentIndex/4dff1eb6-ce31-48cd-b32d-6f7d56d63ac5.vsidx
.vs/underdomeriot_ammopackdiscount/v17/.suo
.vs/underdomeriot_ammopackdiscount/v17/DocumentLayout.backup.json
.vs/underdomeriot_ammopackdiscount/v17/DocumentLayout.json
bin/Debug/0Harmony.dll
bin/Debug/0Harmony.xml
bin/Debug/AnimationSystem.Types.dll
bin/Debug/Assembly-CSharp.dll
bin/Debug/Assembly-CSharp-firstpass.dll
bin/Debug/BepInEx.dll
bin/Debug/BepInEx.xml
bin/Debug/bsg.componentace.compression.libs.zlib.dll
bin/Debug/bsg.console.core.dll
bin/Debug/bsg.microsoft.extensions.objectpool.dll
bin/Debug/bsg.system.buffers.dll
bin/Debug/Cinemachine.dll
bin/Debug/com.nvidia.reflex.Runtime.dll
bin/Debug/com.unity.multiplayer-hlapi.Runtime.dll
bin/Debug/Comfort.dll
bin/Debug/Comfort.Unity.dll
bin/Debug/CommonExtensions.dll
bin/Debug/DissonanceVoip.dll
bin/Debug/DOTween.dll
bin/Debug/DOTween.Modules.dll
bin/Debug/FilesChecker.dll
bin/Debug/ItemComponent.Types.dll
bin/Debug/ItemTemplate.Types.dll
bin/Debug/JBooth.MicroSplat.Core.dll
bin/Debug/kcp.dll
bin/Debug/LibraryLoaderUtility.dll
bin/Debug/Meta.XR.Audio.dll
bin/Debug/Mono.Cecil.dll
bin/Debug/MonoMod.RuntimeDetour.dll
bin/Debug/MonoMod.RuntimeDetour.xml
bin/Debug/MonoMod.Utils.dll
bin/Debug/MonoMod.Utils.xml
bin/Debug/Newtonsoft.Json.dll
bin/Debug/NLog.dll
bin/Debug/Oculus.Spatializer.dll
bin/Debug/Sirenix.OdinInspector.Attributes.dll
bin/Debug/Sirenix.Serialization.Config.dll
bin/Debug/Sirenix.Serialization.dll
bin/Debug/Sirenix.Utilities.dll
bin/Debug/spt-common.dll
bin/Debug/spt-reflection.dll
bin/Debug/SteamAudio.dll
bin/Debug/System.Buffers.dll
bin/Debug/System.Data.Common.dll
bin/Debug/System.Diagnostics.StackTrace.dll
bin/Debug/System.Diagnostics.Tracing.dll
bin/Debug/System.Globalization.Extensions.dll
bin/Debug/System.IO.Compression.dll
bin/Debug/System.Memory.dll
bin/Debug/System.Net.Http.dll
bin/Debug/System.Net.Sockets.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/System.Runtime.Serialization.Primitives.dll
bin/Debug/System.Security.Cryptography.Algorithms.dll
bin/Debug/System.Security.SecureString.dll
bin/Debug/System.Threading.Overlapped.dll
bin/Debug/System.Xml.XPath.XDocument.dll
bin/Debug/uLipSync.Runtime.dll
bin/Debug/underdomeriot_ammopackdiscount.dll
bin/Debug/underdomeriot_ammopackdiscount.pdb
bin/Debug/underdomeriot-ammopackdiscount.dll
bin/Debug/underdomeriot-ammopackdiscount.pdb
bin/Debug/Unity.Burst.dll
bin/Debug/Unity.Burst.Unsafe.dll
bin/Debug/Unity.Mathematics.dll
bin/Debug/Unity.Postprocessing.Runtime.dll
bin/Debug/Unity.ProBuilder.dll
bin/Debug/Unity.ProBuilder.KdTree.dll
bin/Debug/Unity.ProBuilder.Poly2Tri.dll
bin/Debug/Unity.ScriptableBuildPipeline.dll
bin/Debug/Unity.TextMeshPro.dll
bin/Debug/Unity.Timeline.dll
bin/Debug/UnityEngine.AccessibilityModule.dll
bin/Debug/UnityEngine.AIModule.dll
bin/Debug/UnityEngine.AndroidJNIModule.dll
bin/Debug/UnityEngine.AnimationModule.dll
bin/Debug/UnityEngine.ARModule.dll
bin/Debug/UnityEngine.AssetBundleModule.dll
bin/Debug/UnityEngine.AudioModule.dll
bin/Debug/UnityEngine.ClothModule.dll
bin/Debug/UnityEngine.ClusterInputModule.dll
bin/Debug/UnityEngine.ClusterRendererModule.dll
bin/Debug/UnityEngine.CoreModule.dll
bin/Debug/UnityEngine.CrashReportingModule.dll
bin/Debug/UnityEngine.DirectorModule.dll
bin/Debug/UnityEngine.dll
bin/Debug/UnityEngine.DSPGraphModule.dll
bin/Debug/UnityEngine.GameCenterModule.dll
bin/Debug/UnityEngine.GridModule.dll
bin/Debug/UnityEngine.ImageConversionModule.dll
bin/Debug/UnityEngine.IMGUIModule.dll
bin/Debug/UnityEngine.InputLegacyModule.dll
bin/Debug/UnityEngine.InputModule.dll
bin/Debug/UnityEngine.JSONSerializeModule.dll
bin/Debug/UnityEngine.LocalizationModule.dll
bin/Debug/UnityEngine.ParticleSystemModule.dll
bin/Debug/UnityEngine.PerformanceReportingModule.dll
bin/Debug/UnityEngine.Physics2DModule.dll
bin/Debug/UnityEngine.PhysicsModule.dll
bin/Debug/UnityEngine.ScreenCaptureModule.dll
bin/Debug/UnityEngine.SharedInternalsModule.dll
bin/Debug/UnityEngine.SpriteMaskModule.dll
bin/Debug/UnityEngine.SpriteShapeModule.dll
bin/Debug/UnityEngine.StreamingModule.dll
bin/Debug/UnityEngine.SubsystemsModule.dll
bin/Debug/UnityEngine.TerrainModule.dll
bin/Debug/UnityEngine.TerrainPhysicsModule.dll
bin/Debug/UnityEngine.TextCoreModule.dll
bin/Debug/UnityEngine.TextRenderingModule.dll
bin/Debug/UnityEngine.TilemapModule.dll
bin/Debug/UnityEngine.UI.dll
bin/Debug/UnityEngine.UIElementsModule.dll
bin/Debug/UnityEngine.UIModule.dll
bin/Debug/UnityEngine.UNETModule.dll
bin/Debug/UnityEngine.UnityAnalyticsModule.dll
bin/Debug/UnityEngine.UnityConnectModule.dll
bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
bin/Debug/UnityEngine.UnityWebRequestModule.dll
bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
bin/Debug/UnityEngine.VehiclesModule.dll
bin/Debug/UnityEngine.VFXModule.dll
bin/Debug/UnityEngine.VideoModule.dll
bin/Debug/UnityEngine.VRModule.dll
bin/Debug/UnityEngine.WindModule.dll
bin/Debug/UnityEngine.XRModule.dll
bin/Debug/websocket-sharp.dll
bin/Debug/where-allocations.dll
obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/underdom.E35A78E8.Up2Date
obj/Debug/underdomeriot_ammopackdiscount.csproj.AssemblyReference.cache
obj/Debug/underdomeriot_ammopackdiscount.csproj.CoreCompileInputs.cache
obj/Debug/underdomeriot_ammopackdiscount.csproj.FileListAbsolute.txt
obj/Debug/underdomeriot_ammopackdiscount.dll
obj/Debug/underdomeriot_ammopackdiscount.pdb
obj/Debug/underdomeriot-ammopackdiscount.dll
obj/Debug/underdomeriot-ammopackdiscount.pdb
